<title>Compare</title>
<div class="CompareController" ng-controller="CompareController">
    <div class="CompareContainer">
        <div class="UnderLineTitle">
            <h1 class="UnderLineTitleEn">Compare List</h1>
            <div class="clearfix" style="border-bottom: solid 1px #bebebe;"></div>
            <h1 class="UnderLineTitleFa" style="margin-top:1px">لیست مقایسه</h1>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="CompareList">
            <input type="button" class="btnCompare" value="Compare" ng-click="SendToCompare()"/>
            <div class="clearfix"></div>
            <div class="CompareItem" ng-repeat="Item in CountCompareList">
                <div class="CompareSupplierName">{{CompareListDetails[Item].SupplierName_En}}</div>
                <div class="CompareItemPic">
                    <div class="RemoveCompareItem" data-placement="top" title="Remove" ng-show="CompareListDetails[Item]" ng-click="RemoveFromCompareList(CompareListDetails[Item].IDDefineDetailProduct)">&times;</div>
                    <a href="/#!/DefineDetailProduct/{{CompareListDetails[Item].IDXDefineDetailProduct}}"><img ng-src="{{ServerUrl +CompareListDetails[Item].DefineDetailProductPicUrl}}" style="width:100%;margin-top:-10px" ng-show="CompareListDetails[Item]" /></a>
                    <div class="SelectPartNumber" ng-show="!CompareListDetails[Item]" ng-click="ShowSearchPartNumberInCompare($event)">+ Add Quick</div>
                    <div class="SearchPartNumberInCompare">
                        <i class="fa fa-search" style="display: inline-block;"></i>
                        <input type="text" id="txtSearchPartNumberInCompare" class="txtSearchPartNumberInCompare" ng-change="SearchPartNumber(SearchPartNumbers)" autocomplete="off" ng-model="SearchPartNumbers" ng-model-options="{debounce:500}" />
                        <div class="SearchPartNumberInCompareResult">
                            <div class="SearchPartNumberResulItem" ng-repeat="Item in SearchesPartNumber.RuleDefine" ng-click="AddToCompareListFromResult(Item.IDDefineDetailProduct,$event)" ng-cloak="">
                                {{Item.PartNumber}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="CompareItemDetail" ng-show="CompareListDetails[Item]">
                    <!--<img ng-src="{{ServerUrl +CompareListDetails[Item].IndexDescriptionPicUrl}}" style="width:7px; height:35px;float:right;display:inline-block;border: 1px solid #333333;" />-->
                    <img src="/images/AddToListWhite.png" class="AddToListButton" data-placement="left" title="Add to List"  ng-click="AddToMaterialList(CompareListDetails[Item].IDDefineDetailProduct)"/>
                    <h1 class="ComparePartNumber" >
                        {{CompareListDetails[Item].PartNumber}}
                    </h1>
                    <h1 class="CompareMasterProduct">
                        {{CompareListDetails[Item].ProductName_En}}
                    </h1>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="RecentlyViewedContainer">
        <div class="UnderLineTitle">
            <h1 class="UnderLineTitleEn">Recently Viewed</h1>
            <div class="clearfix" style="border-bottom: solid 1px #bebebe;"></div>
            <h1 class="UnderLineTitleFa" style="margin-top:1px">بازدیدهای اخیر</h1>
            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>

        <section  data-owl-carousel class="owl-carousel" data-options="{navigation: true, pagination: false, rewindNav : false,itemsMobile: [980,2],itemsDesktop : [3000,6]}">
            <div data-owl-carousel-item data-ng-repeat="DefineDetailProduct in RecentlyViewedDetails" class="item DefineDetailProductsInMasterPageRole">
                <div class="RemoveRecentlyViewedItem" data-placement="top" title="Remove" ng-click="RemoveFromRecentlyViewedList(DefineDetailProduct.IDDefineDetailProduct,$event)">&times;</div>
                <a href="#!/DefineDetailProduct/{{DefineDetailProduct.IDXDefineDetailProduct}}">

                    <img ng-src="{{ServerUrl + DefineDetailProduct.DefineDetailProductPicUrl}}" style="width: 100%;" class="ImageClass{{DefineDetailProduct.IDXDefineDetailProduct}}">
                    <div style="width:70%;margin-top:5px; float:left">
                        <span class="UnderSpotPartNumber">{{DefineDetailProduct.PartNumber}}</span>
                        <div class="clearfix"></div>
                        <span class="UnderSpotPartIndex">{{DefineDetailProduct.IndexDescriptionText}}</span>
                    </div>
                </a>
                <div style="width:30%;margin-top:5px; float:left;">
                    <!--<img ng-src="{{ServerUrl +DefineDetailProduct.IndexDescriptionPicUrl}}" style="width:7px; height:37px;float:right;display:inline-block;border: 1px solid #333333;" />-->
                    <div style="float:right;">
                        <img src="/images/AddToListWhite.png" class="AddToListButton" data-placement="left" title="Add to List" ng-click="AddToMaterialList(DefineDetailProduct.IDDefineDetailProduct)"/>
                        <div class="clearfix"></div>
                        <img src="/images/Compare.png" class="CompareButton" data-placement="left" title="Compare" ng-click="AddToCompareList(DefineDetailProduct.IDDefineDetailProduct,'ImageClass'+DefineDetailProduct.IDXDefineDetailProduct)" />
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>